.choicesButton {
    display: flex;
    flex-direction: column; 
    margin: 50px;
    background-color: maroon;
}

.individualDrink {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: fit-content;
    overflow: inherit;
    background-color: maroon;
}

.mainButton {
    margin: 15px;
    flex-direction: column;
}

.drinkImg {
    width: fit-content;
    max-width: 400px;
}