.mainButton {
    margin: 25px;
}

.drinkImg {
    height: 0 auto;
    width: 0 auto;
    max-height: 250px;
    max-width: 250px;
}

.drinkCard {
    background-color: grey;
    width: fit-content;
    height: fit-content;
    color: burlywood;
}